#search-bar {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0 20px;
  position: relative;

  & #search {
    width: calc(100% - 30px);
    border: none;
    line-height: 44px;
    outline: none;
    border-style: none;
  }

  & #search-result {
    display: none;
    position: absolute;
    top: 48px;
    width: 93%;
    max-height: 325px;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0px 4px 8px 0 #ccc;
    z-index: 99999;

    & .result-item {
      display: block;
      padding: 8px 16px;
      text-decoration: none;

      & .title,
      .description {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & .title {
        color: #0f468d;
        padding-bottom: 4px;
        font-size: 16px;
      }

      & .description {
        color: #757575;
        font-size: 16px;
      }

      &:hover {
        background-color: #e0edf1;
      }
    }
  }
}
